:root {
    --pink: rgba(249, 179, 209, 1); /* #ffb3d1ff */
    --bg: rgba(0, 0, 0, 1); /* #000000ff */
    --bg-light: rgba(25, 25, 25, 1); /* #191919ff */
    --fg: rgba(255, 255, 255, 1); /* #ffffffff */
}
