:root {
    --pink: #ffb3d1;
    --pink-dark: #d087a5;
    --orange: #ffcc8c;
    --bg-hex: #000000;
    --bg-light-hex: #191919;
    --fg-hex: #ffffff;
    --fg-dark-hex: #e6e6e6;
    font-family: "Fira Code";
    font-size: 16px;
}

.dark {
    --accent1: var(--pink);
    --accent2: var(--pink-dark);
    --bg: var(--bg-hex);
    --bg-light: var(--bg-light-hex);
    --fg: var(--fg-hex);
}

.light {
    --accent1: var(--pink);
    --accent2: var(--pink-dark);
    --bg: var(--fg-hex);
    --bg-light: var(--fg-dark);
    --fg: var(--bg-hex);
}

body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--accent1) var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--accent1);
}

a {
    color: var(--accent2);
    text-decoration: none;
}

a:hover {
    color: var(--accent1);
}
