:root {
    --pink: rgba(249, 179, 209, 1); /* #ffb3d1ff */
    --pink-hex: #ffb3d1; /* #ffb3d1ff */
    --orange: rgba(241, 80, 37, 1); /* #f15025ff */
    --orange-hex: #ffcc8c; /* #f15025ff */
    --bg: rgba(0, 0, 0, 1); /* #000000ff */
    --bg-light: rgba(25, 25, 25, 1); /* #191919ff */
    --fg: rgba(255, 255, 255, 1); /* #ffffffff */
    font-family: "Fira Code";
    font-size: 16px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--pink) var(--bg);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--pink);
}

a {
    color: var(--bg-light);
}

a:hover {
    color: linear-gradient(45deg, var(--orange-hex), var(--pink-hex));
}
